.navbar {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  background-color: #1c2a24;
}

.footer {
  background-color: #f8f9fa;
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 60px;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.1); /* Subtle shadow at the top */
}

/* Center text for the brand name in the navbar */
.navbar-brand {
  text-align: left;
  width: 100%;
}

/* Adjust the spacing around the main content */
.main-content {
  padding-top: 20px; /* Add space above */
  padding-bottom: 20px; /* Add space below */
}

.button {
  background-color: #76b947;
  border-color: #1c2a24;
  color: #1c2a24;
}
